body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 214, 214);
}

.a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(252, 240, 240);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 500px;
    height: 420px;
    justify-items: center;
    justify-self: center;
}

header{
    background-color: rgb(129, 9, 9);
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

#doacao {
    width: 150px;
    height: 100px;
    justify-content: left;
} 

.h1{
    justify-content: center;
}

.imagemFofa{
    position: fixed;
    bottom: 20px;  
    right: 20px;   
    width: 200px; 
    height: auto; 
    z-index: 1000;
}