body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 191, 191);
}

.a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(252, 240, 240);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 500px;
    height: 420px;
    justify-items: center;
    justify-self: center;
}

header{
    background-color: rgb(129, 9, 9);
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

#doacao {
    width: 150px;
    height: 100px;
    justify-content: left;
} 

.h1{
    justify-content: center;
}