body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(252, 247, 210);
}

.a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 600px;
    height: 560px;
    justify-items: center;
    justify-self: center;
}

header{
    background-color: rgb(255, 240, 104);
    padding: 20px;
    text-align: center;
}

#pata {
    width: 100px;
    height: 100px;
    justify-content: left;
} 

.h1{
    justify-content: center;
}